<!DOCTYPE html>
<html>
  <head>
    <title> reelyActive Notman House Dashboard </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style/bubble.css">
    <link rel="stylesheet" href="style/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.2/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.0/angular-sanitize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.min.js"></script>
    <script type="text/javascript" src="js/socket.min.js"></script>
    <script type="text/javascript" src="js/beaver.js"></script>
    <script type="text/javascript" src="js/cormorant.js"></script>
    <script type="text/javascript" src="js/bubble.js"></script>
    <script type="text/javascript" src="js/cuttlefish.js"></script>
    <script type="text/javascript" src="js/dashboard.js"></script>
  </head>
  <body ng-app="dashboard">
    <!----- BEGIN CONTENT SECTION ----------------------------------------->
	  <div ng-controller="DashCtrl" class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="well blue-full" style="min-height:640px; max-height:640px; overflow:hidden">
            <br><br>
            <bubble ng-repeat="(id, device) in devices" ng-if="device.person"
                    toggle="false" json="device.story" size="420px"
                    ng-show="device.featured"></bubble>
          </div>
        </div>
        <div class="col-md-4">
          <div class="well blue-full" style="min-height:640px; max-height:640px; overflow:hidden">
            <br><br><br><br>
            <h1 class="text-center" style="color:#fff; font-size:24em">
              {{numberOfDevices}}
            </h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="min-height:320px; max-height:320px; overflow:hidden">
          <div class="well blue-full">
            <div ng-if="featuredDirectory" style="float:left; height:300px">
              <img ng-src="{{featuredDirectory.imageUrl}}"
                   class="img-responsive" height="240px">
            </div>
            <div ng-if="featuredDirectory" ng-repeat="(id, device) in featuredDirectory.devices | orderBy:'-person':false"
                 style="float:left; height:300px">
                <bubble ng-if="device.story" toggle="false"
                        json="device.story" size="240px"></bubble>
              </div>
            </div>
        </div>
      </div>
    </div>
    <!----- END CONTENT SECTION ----------------------------------------->
  </body>
</html>
