<!DOCTYPE html>
<html>
  <head>
    <title> reelyActive Notman House Dashboard </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.0/angular-sanitize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script type="text/javascript" src="js/socket.min.js"></script>
    <script type="text/javascript" src="js/beaver.js"></script>
    <script type="text/javascript" src="js/cormorant.js"></script>
    <script type="text/javascript" src="js/dashboard.js"></script>
  </head>
  <body ng-app="dashboard">
	  <div ng-controller="DashCtrl">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  ng-init="navCollapsed = true"
                  ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://context.reelyactive.com">
            <strong>reely</strong>Active
          </a>
        </div>
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'"
             ng-click="navCollapsed = true">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href> Dashboard </a></li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <table class="table">
                <caption> REAL-TIME DEVICE DISTRIBUTION BY FLOOR </caption>
              </table>
            </div>
            <div class="row">
              <canvas id="chart" class="chart"/>
            </div>
            <div class="row">
              <div class="chart-legend" ng-bind-html="chartLegend"></div>
            </div>
          </div>
          <div class="col-md-6">
            <table class="table table-hover">
              <caption> REAL-TIME EVENT STREAM </caption>
              <thead>
                <tr>
                  <th> Transmitter ID </th>
                  <th> Event </th>
                  <th> Receiver ID </th>
                  <th> RSSI </th>
                  <th> Timestamp </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="(id, event) in events">
                  <td> <tt> {{event.tiraid.identifier.value}} </tt> </td>
                  <td> {{event.type}} </td>
                  <td>
                    <tt>
                      {{event.tiraid.radioDecodings[0].identifier.value}}
                    </tt>
                  </td>
                  <td> {{event.tiraid.radioDecodings[0].rssi}} </td>
                  <td> {{event.tiraid.timestamp}} </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <footer class="footer">
        <a> reelyActive Notman House Dashboard </a>
        &nbsp; | &nbsp;
        <a href="http://context.reelyactive.com"
           tooltip="We believe in an open Internet of Things"
           tooltip-placement="right">
          &copy; reelyActive 2016
        </a>
      </footer>
    </div>
  </body>
</html>
